[submodule "external/oscomp-autotest"]
	path = external/oscomp-autotest
	url = https://github.com/oscomp/autotest-for-oskernel
	ignore = untracked
[submodule "external/humanlayer-reference"]
	path = external/humanlayer-reference
	url = https://github.com/humanlayer/humanlayer
	shallow = true
[submodule "external/rsext4"]
	path = external/rsext4
	url = https://github.com/Starry-OS/rsext4.git
[submodule "external/musl"]
	path = external/musl
	url = https://git.musl-libc.org/git/musl
	ignore = untracked
[submodule "external/linux-rv-6.17"]
	path = external/linux-rv-6.17
	url = https://github.com/torvalds/linux.git
[submodule "external/lmbench"]
	path = external/lmbench
	url = https://github.com/intel/lmbench.git
[submodule "external/libc-bench"]
	path = external/libc-bench
	url = https://git.musl-libc.org/git/libc-bench
